<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Verify OTP</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h2>OTP Verification</h2>

    <form th:action="@{/verify-otp}" method="post">
		<input type="hidden" name="email" th:value="${email}" />

		<p th:if="${error}" th:text="${error}" style="color:red"></p>
		
        <div class="form-group">
            <label>Enter OTP</label>
            <input type="text" name="otp" placeholder="6-digit OTP" maxlength="6" required>
        </div>

        <button type="submit">Verify OTP</button>
    </form>

	<form th:action="@{/resend-otp}" method="post">
	    <input type="hidden" name="email" th:value="${email}">
	    <button type="submit">Resend OTP</button>
	</form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
